body {
    /* Set the background image to the `triangles.jpg` file. */
    /* After you see how that image looks, find another image online that you 
    want to use as the background, download it into the folder, and insert it here. 
    */
    background-image: url('triangles.jpg');
    text-align: center;
  }
  
  h1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    font-size: 36px;
    margin-top: 30px;
  }
  
  .color-picker {
    width: 1000px;
    height: 50px;
    background-color: #ecbf3e;
    margin: auto;
    border-radius: 20px;
  }
  
  .color {
    width: 40px;
    height: 40px;
    margin:5px;
    display: inline-block;
    border-radius: 50%;
    border: 1px dashed black;
  }
  
  #artboard {
    width: 800px;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
  }
  
  .box {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid lightgray;
  }
  
  p {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    background-color: white;
    padding: 10px;
    width: 200px;
    margin: auto;
  }
  
  #selected {
    margin-right: 35px;
    border: 5px double black;
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  
  button {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    background-color: black;
    color: gold;
  }