.about-parent {
    background-color: #8CA0D7;
    /* padding: 40px; */
    width: "100%";
    height: "100%";
    flex: 1;
}
.about-content {
    flex-grow: 1;
    flex: 1;
    display: flex;
}

.left-menu {
    
}

.welcome-content {
    flex: 1;
}

.App-header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.About-main-page {
    background-color: #8CA0D7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

/*.prof-pic {
/*    right
}

/* I'm stopping before i screw it up more */
/* the website wasnt starting */
