.about-parent {
    background-color: #8CA0D7;
    /* padding: 40px; */
    width: "100%";
    height: "100%";
    flex: 1;
}

.left-menu {

}

.about-content {
    flex-grow: 1;
    flex: 1;
    display: flex;
}

.about-content h1 {
    text-align: center;
}

.about-body {
    display: flex;
    flex-direction: row;
}

.about-text {
    padding: '10%';
}

.left-menu {

}

.welcome-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

p {
    font-size: 20;
    line-height: 1.5;
}

/*.prof-pic {
/*    right
}

/* I'm stopping before i screw it up more */
/* the website wasnt starting */
